.BottomSection {
  svg {
    display: block;
    height: 2rem;
    width: auto;
  }

  & .footer {
    padding-top: 2rem;
    color: #969696;
    font-size: .75rem;

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      @media (max-width: 764px) {
        justify-content: center;
      }
      a, span {
        color: #337ab7;
        font-weight: 500;
        line-height: 1.4;
        text-decoration: none;
        margin-right: 1em;
        cursor: pointer;
        @media (max-width: 350px) {
          font-size: 11px;
        }
        &:hover {
          color: #23527c;
          text-decoration: underline;
        }
      }
      span {
        color: #333;
        cursor: initial;
        @media (max-width: 767px) {
          display: block;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    .disclaimer {
      padding: 1rem;
      margin: 2rem 0;
      border: 1px solid rgba(153,153,153,0.25);
      border-radius: .25em;
      color: #999;
      p {
        font-size: .75rem;
        line-height: 1.4;
        margin: 0 0 .625em!important;

        span {
          font-weight: 700;
        }

        &:last-child {
          margin: 0!important;
        }
      }
    }

    .footer-logo-block {
      @media (max-width: 764px) {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
  }
}